@import url("../lib/opensans/css/opensans.css");

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #c5dfff;
    font-family: "Open Sans";
    user-select: none;
}

.page {
    margin: 0;
    padding: 1rem 2rem;
    display: none;
    height: calc(75% - 2rem);
    grid-template-columns: 1fr 8rem 1fr;
    grid-column-gap: 1rem;
    background: radial-gradient(ellipse at bottom, #121d2b 0%, #000000 100%);
}

.page-left {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page-left-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    display: none;
}

.menu {
    margin: 0;
    padding: 0;
    height: calc(25% - 2px);
    background-color: #0b131c;
    border-top: solid 2px #192737;
}

.menu-items {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

.menu-item {
    margin: 0;
    padding: 0;
    height: calc(100% - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 4px transparent;
    color: #2e4158;
}

.menu-item-content {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-item-content-icon {
    margin: 1rem 0 0 0;
    padding: 0;
    font-size: 2.4em;
}

.menu-item-content-text {
    margin: 0.8rem 0 0 0;
    padding: 0;
    font-size: 1em;
}

.menu-item.is-active {
   border-bottom: solid 4px #ff9300;
   background: linear-gradient(transparent 0%, #1b2a3c 100%);
   color: #476182;
}

.spinner {
    margin: 0;
    padding: 0;
    color: #c5dfff;
    text-align: center;
}

.spinner-arrow {
    margin: 0;
    padding: 0;
    font-size: 5em;
    color: #ff9300;
    text-shadow: 0 5px 10px #000000;
}

.spinner-value {
    margin: 0;
    padding: 0;
    font-size: 5em;
}

.page-center {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-center-content {
    margin: 0;
    padding: 0;
    height: 80%;
}

.submenu {
    margin: 0;
    padding: 0 1.6rem;
    height: 100%;
    box-shadow: inset 0 0 20px 0 #2d4259;
    border-radius: 10px;
    color: #2e4158;
    text-align: center;
}

.submenu-content {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submenu-content-items {
    margin: 0;
    padding: 0;
}

.submenu-content-item {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.submenu-content-item + .submenu-content-item {
    margin-top: 1rem;
}

.submenu-content-item.is-active {
    color: #719bd0;
    text-shadow: 0 0 10px #2d4259;
}

.page-right {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page-right-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    display: none;
}

.title {
    margin: 0 0 0.2rem 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.2em;
}

.subtitle {
    margin: 0 0 1rem 0;
    padding: 0;
    font-weight: 400;
    color: #2e4158;
    font-size: 0.8em;
}

.box {
    margin: 0;
    padding: 0.8rem 1rem;
    width: calc(100% - 2rem);
    border: solid 1px #1b2a3c;
    display: grid;
    grid-template-columns: 1.6rem 1fr;
    border-radius: 5px;
    font-size: 1em;
    background-color: #1b2a3c44;
}

.box.is-active {
    border: solid 1px #ff9300;
    color: #ff9300;
    background-color: #ff930022;
}

.box + .box {
    margin-top: 1.2rem;
}